{% for a_question in question %}
    <div class="home-title">
      <span>{{ 'poll.results'|trans }}</span>
      <br class="fcl" />
    </div>
    <div id="poll_body">
      <div>
        <h3>{{ a_question.name }}</h3>
  {% for an_answer in a_question.answers %}    
        <p>{{ an_answer.name }}</p>
  {#  {% set show_image = an_answer.image is not empty %}  
      {% if show_image %}
      <p>{% thumbnail an_answer.image, 'list' with{'title': an_answer.title, 'alt': an_answer.title}  %}</p>
      {% endif %}
   #}
        <div class="poll_bg"><span class="poll_bar" style="width:{{ (an_answer.votes/a_question.votes)*190 }}px"></span></div>
        <p class="poll_bar_text">{{ '%.2f' | format((an_answer.votes/a_question.votes)*100) }}% <br /> {{ 'poll.votes'|trans }} {{ an_answer.votes }}</p>
        <br />
  {% endfor %}
      </div>
      <p id="vote_ty">{{ 'poll.voted'|trans }}</p>
      <p class="vote_total">{{ 'poll.votes'|trans }} {{ a_question.votes }}</p>
      <p class="vote_total">{{a_question.createdAt|date("d.m.Y")}}</p>
{% endfor %}
    </div>