<script type="text/javascript">
$(document).ready(function(){
$('#submit_vote').click(function(){
var lang = $('input[name=lang]');  
var CurLang = lang.val();
var myRadio = $('input[name=vote]');  
var checkedValue = myRadio.filter(':checked').val();
$.ajax({
type: "POST",
url: '/' + CurLang + '/poll/vote/' + checkedValue,
data: "fname=" + checkedValue,
success: function(data){
   if( data.indexOf( "<html>" ) > -1 )
   {
     window.location.replace('/' + CurLang + '/poll/vote/' + checkedValue);
   } 
   else
   {
     $('#poll').html(data);
     $('#poll_body span').each(function() {
     var w = $(this).css('width');
     $(this).css( 'width', 0 );
     $(this).show();
     $(this).animate({width: w}, 1000 );
     }); 
   }
}
});
return false;
});
});
  </script>
  <div id="poll">
    <div class="home-title">
      <span>{{ 'poll.poll'|trans }}</span>
      <br class="fcl" />
    </div>
    <div id="poll_body">
{% for a_question in question %}
        <h3>{{ a_question.name }}</h3>
        <form name="contact" method="post" action="">
{% for answer in a_question.answers %}
           <label> <input type="radio" class="fname" name="vote" value="{{ answer.id }}">
             {{ answer }}</label> <br /><br />
{% endfor %}
            <input type="hidden" class="fname" name="lang" value="{{app.request.attributes.get('_locale')}}">
            <input type="submit" id="submit_vote" value="{{ 'poll.submit'|trans }}">
          </form>
          <br class="fcl" /> <br />
{% endfor %}
{% if (not is_granted('ROLE_USER')) and (not is_granted('ROLE_FACEBOOK')) %}
          <p id="vote_ty">{{ 'poll.login1'|trans }} <a href="{{ path('fos_user_security_login') }}">{{ 'poll.login2'|trans }}</a> {{ 'poll.login3'|trans|raw }}</p>
{% endif %}
          <p class="vote_total">{{a_question.createdAt|date("d.m.Y")}}</p>
        </div>
      </div>